[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
python-dateutil = "*"
requests = "*"
boto3 = "*"

[dev-packages]
mypy = "*"
pytest = "*"
autopep8 = "*"
coverage = "*"
boto3-stubs = {extras = ["s3", "ssm"], version = "*"}
aws-cdk-lib = "*"

[requires]
python_version = "3.12"
