[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
selenium = "*"
sentry-sdk = "*"
python-dateutil = "*"
aws-lambda-powertools = "*"

[dev-packages]
mypy = "*"
pytest = "*"
autopep8 = "*"
coverage = "*"
boto3-stubs = {extras = ["s3", "ssm", "sesv2"], version = "*"}
aws-cdk-lib = "*"

[requires]
python_version = "3.12"
